body{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070f18;
    margin-top:40px;
    margin-bottom: 40px;
}
#menu{
    text-align: right;
    margin-top: 49px;
}
#menu ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #070f18;
}
a {
    color: black;
    text-decoration: none;
}
#buttonCta {
    background: #1f7cff;
    border-radius: 50px;
    font-family: Poppins;
    font-style:normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 10px 25px;
}
p.gray{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px;
    color: #575455;
}
#headerCta h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: #000000;
}
#headerImg{
    margin-left: 42px;
}
#headerImg img{
    width: 100%;
}
.headerLogo{
    text-align: center;
}
#clients{
    margin-top: 49px;
    margin-bottom: 49px;
}
#headerClientText{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #070f18;
}
h2.red{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #f75c4e
}
h1.black{
    font-family:Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    margin-top: 0;
}
.textCenter{
    text-align: center;
}
#services .textCenter h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #070f18; 
}
#contactImg img{
    width: 100%;
}
#contactForm{
    margin-left:75px;
}
#contact{
    margin-top:100px;
}
#contactForm input{
    background: #f5f6fb;
    border-radius: 50px;
    font-family: Poppins;
    font-style:normal;
    font-weight: normal;
    font-size:16px;
    line-height: 24px;
    color:#575455;
    border:0;
    width: 100%;
    padding: 15px 30px 15px 30px;
}
#contactForm button{
    background: #1f7cff;
    border-radius: 50px;
    border:0;
    padding: 15px 30px 15px 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff
}
#portfolioTitle{
    margin-top: 150px;
}
.portfolioImg img{
    width: 100%;
}
.portfolioImg{
    padding: 30px;
}